*{
    margin: 0;
    padding: 0;
}
body{
    padding-top: 3em;
    
}
main{
    display: flex;
    justify-content: center;
    background-color: #1B244A;
    max-width: 100%;
    margin: 0 auto;
    
}
.container{
    max-width: 60%;
}

#container1{
    padding: 2em;
}

#container2{
    padding: 2em;
}

.container h3{
    color: #EEEEEE;
    font-family: 'Verdana';
    padding-bottom: 0.5em;
    font-weight: 700;
    font-size: 2em;
    line-height: 35px;
    text-align: center;
   
}
.container p{
    text-align: center;
    font-size: 4em;
    color: #F94F6D;
    background-color: black;
    font-weight: 400;
    line-height: 126.67px;
    margin-bottom: 0.2em;
    max-width: 100%;
    text-align: center;
  
}

button{
    background-color: #1B244A;
    border: 2px solid #9AABD8;
    color: #9AABD8;
border-radius: 5px;
width: 32px;
height: 45px;
box-sizing: border-box;
text-align: center;

}
